<a href="https://colab.research.google.com/github/mauricioaalmeida/ONE-TelecomX/blob/main/TelecomX_BR.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


# Telecom X - An√°lise de Evas√£o de Clientes


Voc√™ foi contratado como assistente de an√°lise de dados na Telecom X e far√° parte do projeto "Churn de Clientes". A empresa enfrenta um alto √≠ndice de cancelamentos e precisa entender os fatores que levam √† perda de clientes.

Seu desafio ser√° coletar, tratar e analisar os dados, utilizando Python e suas principais bibliotecas para extrair insights valiosos. A partir da sua an√°lise, os demais colegas da  equipe de Data Science poder√° avan√ßar para modelos preditivos e desenvolver estrat√©gias para reduzir a evas√£o.

O que voc√™ vai praticar:

‚úÖ Importar e manipular dados de uma API de forma eficiente.

‚úÖ Aplicar os conceitos de ETL (Extra√ß√£o, Transforma√ß√£o e Carga) na prepara√ß√£o dos dados.

‚úÖ Criar visualiza√ß√µes de dados estrat√©gicas para identificar padr√µes e tend√™ncias.

‚úÖ Realizar uma An√°lise Explorat√≥ria de Dados (EDA) e gerar um relat√≥rio com insights relevantes.

## Arquitetura Medalh√£o

Nessa an√°lise utilizaremos a Arquitetura Medalh√£o, para uma melhor organiza√ß√£o e qualidade dos dados.
Ser√£o utilizadas 3 camadas, Bronze, Prata e Ouro, para mantermos a rastreabilidade durante o tratamento dos dados.

- Camada Bronze:
  Esta camada armazena c√≥pias dos dados brutos, como foram recebidos da fonte. √â um ponto de partida para a jornada dos dados, onde eles s√£o armazenados sem modifica√ß√µes significativas.
- Camada Prata:
  Na camada Prata, os dados s√£o limpos, transformados e enriquecidos, removendo dados redundantes ou inv√°lidos. Inclui a valida√ß√£o de dados, desduplica√ß√£o e agrega√ß√£o de informa√ß√µes.
- Camada Ouro:
  A camada Ouro representa o n√≠vel mais alto de refinamento, onde os dados s√£o transformados em formatos otimizados para an√°lises e tomada de decis√µes. Aqui, os dados s√£o preparados para serem utilizados por ferramentas de an√°lise de dados e relat√≥rios.

## Prepara√ß√£o do ambiente:

In [1]:
# Importa√ß√£o de Bibliotecas
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import requests
import json
import os

In [2]:
#Criar a estrutura de diret√≥rios para a armazenar os dados
!mkdir -p data
!mkdir -p data/bronze
!mkdir -p data/prata
!mkdir -p data/ouro

#üìå Extrac√£o - Camada Bronze

In [3]:
url = 'https://raw.githubusercontent.com/alura-cursos/challenge2-data-science/refs/heads/main/TelecomX_Data.json'

In [4]:
dados = pd.read_json(url)
dados.to_json('data/bronze/TelecomX_Data.json')
dados

,customerID,Churn,customer,phone,internet,account
0,0002-ORFBO,No,"{'gender': 'Female', 'SeniorCitizen': 0, 'Part...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'One year', 'PaperlessBilling': '..."
1,0003-MKNFE,No,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'Yes'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
2,0004-TLHLJ,Yes,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
3,0011-IGKFF,Yes,"{'gender': 'Male', 'SeniorCitizen': 1, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
4,0013-EXCHZ,Yes,"{'gender': 'Female', 'SeniorCitizen': 1, 'Part...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
...,...,...,...,...,...,...
7262,9987-LUTYD,No,"{'gender': 'Female', 'SeniorCitizen': 0, 'Part...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'One year', 'PaperlessBilling': '..."
7263,9992-RRAMN,Yes,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'Yes'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
7264,9992-UJOEL,No,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
7265,9993-LHIEB,No,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'Two year', 'PaperlessBilling': '..."
7266,9995-HOTOH,No,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'No', 'MultipleLines': 'No ph...","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'Two year', 'PaperlessBilling': '..."

## Normaliza√ß√£o dos dados JSON

In [5]:
# Lista de colunas JSON
json_columns = ['customer','phone','internet', 'account']

# Normalizar todas as colunas JSON e concatenar
normalized_dfs = [pd.json_normalize(dados[col]) for col in json_columns]
df_bronze = pd.concat([dados[['id']] if 'id' in dados.columns else dados.drop(columns=json_columns), *normalized_dfs], axis=1)

df_bronze

,customerID,Churn,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,...,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,Charges.Monthly,Charges.Total
0,0002-ORFBO,No,Female,0,Yes,Yes,9,Yes,No,DSL,...,Yes,No,Yes,Yes,No,One year,Yes,Mailed check,65.60,593.3
1,0003-MKNFE,No,Male,0,No,No,9,Yes,Yes,DSL,...,No,No,No,No,Yes,Month-to-month,No,Mailed check,59.90,542.4
2,0004-TLHLJ,Yes,Male,0,No,No,4,Yes,No,Fiber optic,...,No,Yes,No,No,No,Month-to-month,Yes,Electronic check,73.90,280.85
3,0011-IGKFF,Yes,Male,1,Yes,No,13,Yes,No,Fiber optic,...,Yes,Yes,No,Yes,Yes,Month-to-month,Yes,Electronic check,98.00,1237.85
4,0013-EXCHZ,Yes,Female,1,Yes,No,3,Yes,No,Fiber optic,...,No,No,Yes,Yes,No,Month-to-month,Yes,Mailed check,83.90,267.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7262,9987-LUTYD,No,Female,0,No,No,13,Yes,No,DSL,...,No,No,Yes,No,No,One year,No,Mailed check,55.15,742.9
7263,9992-RRAMN,Yes,Male,0,Yes,No,22,Yes,Yes,Fiber optic,...,No,No,No,No,Yes,Month-to-month,Yes,Electronic check,85.10,1873.7
7264,9992-UJOEL,No,Male,0,No,No,2,Yes,No,DSL,...,Yes,No,No,No,No,Month-to-month,Yes,Mailed check,50.30,92.75
7265,9993-LHIEB,No,Male,0,Yes,Yes,67,Yes,No,DSL,...,No,Yes,Yes,No,Yes,Two year,No,Mailed check,67.85,4627.65
7266,9995-HOTOH,No,Male,0,Yes,Yes,63,No,No phone service,DSL,...,Yes,Yes,No,Yes,Yes,Two year,No,Electronic check,59.00,3707.6

In [6]:
#Salvar os dados normalizados na camada bronze
df_bronze.to_parquet('data/bronze/TelecomX_Data.parquet')

#üîß Transforma√ß√£o - Camada Prata

## Explora√ß√£o inicial dos dados

In [7]:
df_prata = df_bronze.copy()

### Dicion√°rio de dados

    customerID: n√∫mero de identifica√ß√£o √∫nico de cada cliente
    Churn: se o cliente deixou ou n√£o a empresa
    gender: g√™nero (masculino e feminino)
    SeniorCitizen: informa√ß√£o sobre um cliente ter ou n√£o idade igual ou maior que 65 anos
    Partner: se o cliente possui ou n√£o um parceiro ou parceira
    Dependents: se o cliente possui ou n√£o dependentes
    tenure: meses de contrato do cliente
    PhoneService: assinatura de servi√ßo telef√¥nico
    MultipleLines: assisnatura de mais de uma linha de telefone
    InternetService: assinatura de um provedor internet
    OnlineSecurity: assinatura adicional de seguran√ßa online
    OnlineBackup: assinatura adicional de backup online
    DeviceProtection: assinatura adicional de prote√ß√£o no dispositivo
    TechSupport: assinatura adicional de suporte t√©cnico, menos tempo de espera
    StreamingTV: assinatura de TV a cabo
    StreamingMovies: assinatura de streaming de filmes
    Contract: tipo de contrato
    PaperlessBilling: se o cliente prefere receber online a fatura
    PaymentMethod: forma de pagamento
    Charges.Monthly: total de todos os servi√ßos do cliente por m√™s
    Charges.Total: total gasto pelo cliente

In [8]:
df_prata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7267 entries, 0 to 7266
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7267 non-null   object
 1   Churn             7267 non-null   object
 2   gender            7267 non-null   object
 3   SeniorCitizen     7267 non-null   int64
 4   Partner           7267 non-null   object
 5   Dependents        7267 non-null   object
 6   tenure            7267 non-null   int64
 7   PhoneService      7267 non-null   object
 8   MultipleLines     7267 non-null   object
 9   InternetService   7267 non-null   object
 10  OnlineSecurity    7267 non-null   object
 11  OnlineBackup      7267 non-null   object
 12  DeviceProtection  7267 non-null   object
 13  TechSupport       7267 non-null   object
 14  StreamingTV       7267 non-null   object
 15  StreamingMovies   7267 non-null   object
 16  Contract          7267 non-null   object
 17  PaperlessBilling  7267 non-null   object
 18  PaymentMethod     7267 non-null   object
 19  Charges.Monthly   7267 non-null   float64
 20  Charges.Total     7267 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.2+ MB

In [9]:
df_prata.describe()

       SeniorCitizen       tenure  Charges.Monthly
count    7267.000000  7267.000000      7267.000000
mean        0.162653    32.346498        64.720098
std         0.369074    24.571773        30.129572
min         0.000000     0.000000        18.250000
25%         0.000000     9.000000        35.425000
50%         0.000000    29.000000        70.300000
75%         0.000000    55.000000        89.875000
max         1.000000    72.000000       118.750000

In [10]:
df_prata.head(2)

,customerID,Churn,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,...,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,Charges.Monthly,Charges.Total
0,0002-ORFBO,No,Female,0,Yes,Yes,9,Yes,No,DSL,...,Yes,No,Yes,Yes,No,One year,Yes,Mailed check,65.6,593.3
1,0003-MKNFE,No,Male,0,No,No,9,Yes,Yes,DSL,...,No,No,No,No,Yes,Month-to-month,No,Mailed check,59.9,542.4

### Passo 1 - Converter colunas n√∫mericas

In [11]:
try:
  df_prata['Charges.Total'] = df_prata['Charges.Total'].astype(np.float64)
except Exception as e:
  print('Erro ao converter coluna: ', e)

Erro ao converter coluna:  could not convert string to float: ' '

In [12]:
# Remover o espa√ßo que est√° causando erro e tentar novamente
df_prata['Charges.Total'] = df_prata['Charges.Total'].replace(' ', np.nan)
try:
  df_prata['Charges.Total'] = df_prata['Charges.Total'].astype(np.float64)
except Exception as e:
  print('Erro ao converter coluna: ', e)

### Passo 2 - Converter colunas sim/n√£o para integer

In [13]:
df_prata['Churn'].value_counts()

Churn
No     5174
Yes    1869
        224
Name: count, dtype: int64

In [14]:
df_prata.query('Churn == ""')

,customerID,Churn,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,...,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,Charges.Monthly,Charges.Total
30,0047-ZHDTW,,Female,0,No,No,11,Yes,Yes,Fiber optic,...,No,No,No,No,No,Month-to-month,Yes,Bank transfer (automatic),79.00,929.30
75,0120-YZLQA,,Male,0,No,No,71,Yes,No,No,...,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,Yes,Credit card (automatic),19.90,1355.10
96,0154-QYHJU,,Male,0,No,No,29,Yes,No,DSL,...,Yes,No,Yes,No,No,One year,Yes,Electronic check,58.75,1696.20
98,0162-RZGMZ,,Female,1,No,No,5,Yes,No,DSL,...,Yes,No,Yes,No,No,Month-to-month,No,Credit card (automatic),59.90,287.85
175,0274-VVQOQ,,Male,1,Yes,No,65,Yes,Yes,Fiber optic,...,Yes,Yes,No,Yes,Yes,One year,Yes,Bank transfer (automatic),103.15,6792.45
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7158,9840-GSRFX,,Female,0,No,No,14,Yes,Yes,DSL,...,Yes,No,No,No,No,One year,Yes,Mailed check,54.25,773.20
7180,9872-RZQQB,,Female,0,Yes,No,49,No,No phone service,DSL,...,No,No,No,Yes,No,Month-to-month,No,Bank transfer (automatic),40.65,2070.75
7211,9920-GNDMB,,Male,0,No,No,9,Yes,Yes,Fiber optic,...,No,No,No,No,No,Month-to-month,Yes,Electronic check,76.25,684.85
7239,9955-RVWSC,,Female,0,Yes,Yes,67,Yes,No,No,...,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,Yes,Bank transfer (automatic),19.25,1372.90
7247,9966-VYRTZ,,Female,0,Yes,Yes,31,Yes,No,No,...,No internet service,No internet service,No internet service,No internet service,No internet service,Month-to-month,Yes,Mailed check,19.55,658.95

Como n√£o temos informa√ß√£o de churn nesses registros e essa ser√° uma coluna importante em nossa an√°lise, vamos excluir estes da camada Prata antes de transformar a coluna em n√∫merica (0=No e 1=Yes)

In [15]:
df_prata = df_prata.query('Churn != ""')
df_prata['Churn'].value_counts()

Churn
No     5174
Yes    1869
Name: count, dtype: int64

In [16]:
df_prata['Churn'] = df_prata['Churn'].replace({'Yes': '1', 'No': '0'})
df_prata['Churn'] = df_prata['Churn'].astype(np.int64)

/tmp/ipython-input-16-2067394689.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_prata['Churn'] = df_prata['Churn'].replace({'Yes': '1', 'No': '0'})
/tmp/ipython-input-16-2067394689.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_prata['Churn'] = df_prata['Churn'].astype(np.int64)

### Verificando as demais colunas com valores Yes/No (ou similares que podem ser convertidos em 0 e 1)

In [17]:
colunas = df_prata.columns
colunas

Index(['customerID', 'Churn', 'gender', 'SeniorCitizen', 'Partner',
       'Dependents', 'tenure', 'PhoneService', 'MultipleLines',
       'InternetService', 'OnlineSecurity', 'OnlineBackup', 'DeviceProtection',
       'TechSupport', 'StreamingTV', 'StreamingMovies', 'Contract',
       'PaperlessBilling', 'PaymentMethod', 'Charges.Monthly',
       'Charges.Total'],
      dtype='object')

In [18]:
df_prata.head(3)

,customerID,Churn,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,...,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,Charges.Monthly,Charges.Total
0,0002-ORFBO,0,Female,0,Yes,Yes,9,Yes,No,DSL,...,Yes,No,Yes,Yes,No,One year,Yes,Mailed check,65.6,593.30
1,0003-MKNFE,0,Male,0,No,No,9,Yes,Yes,DSL,...,No,No,No,No,Yes,Month-to-month,No,Mailed check,59.9,542.40
2,0004-TLHLJ,1,Male,0,No,No,4,Yes,No,Fiber optic,...,No,Yes,No,No,No,Month-to-month,Yes,Electronic check,73.9,280.85

In [19]:
colunas_binarias = ['Partner', 'Dependents', 'PhoneService', 'MultipleLines',
       'OnlineSecurity', 'OnlineBackup', 'DeviceProtection',
       'TechSupport', 'StreamingTV', 'StreamingMovies', 'PaperlessBilling']
# Verificar valores de cada coluna
for coluna in colunas_binarias:
  print('-> Coluna: ',coluna)
  print(df_prata[coluna].value_counts())
  print('---')

-> Coluna:  Partner
Partner
No     3641
Yes    3402
Name: count, dtype: int64
---
-> Coluna:  Dependents
Dependents
No     4933
Yes    2110
Name: count, dtype: int64
---
-> Coluna:  PhoneService
PhoneService
Yes    6361
No      682
Name: count, dtype: int64
---
-> Coluna:  MultipleLines
MultipleLines
No                  3390
Yes                 2971
No phone service     682
Name: count, dtype: int64
---
-> Coluna:  OnlineSecurity
OnlineSecurity
No                     3498
Yes                    2019
No internet service    1526
Name: count, dtype: int64
---
-> Coluna:  OnlineBackup
OnlineBackup
No                     3088
Yes                    2429
No internet service    1526
Name: count, dtype: int64
---
-> Coluna:  DeviceProtection
DeviceProtection
No                     3095
Yes                    2422
No internet service    1526
Name: count, dtype: int64
---
-> Coluna:  TechSupport
TechSupport
No                     3473
Yes                    2044
No internet service    1526
Name: count, dtype: int64
---
-> Coluna:  StreamingTV
StreamingTV
No                     2810
Yes                    2707
No internet service    1526
Name: count, dtype: int64
---
-> Coluna:  StreamingMovies
StreamingMovies
No                     2785
Yes                    2732
No internet service    1526
Name: count, dtype: int64
---
-> Coluna:  PaperlessBilling
PaperlessBilling
Yes    4171
No     2872
Name: count, dtype: int64
---

Vou usar um Regex para identificar as colunas que come√ßam com "No internet.. " ou "No Phone.." convertendo todas para 0

In [20]:
for coluna in colunas_binarias:
  df_prata[coluna] = df_prata[coluna].str.replace('(?i)^no.*', '0',regex=True) # Regex come√ßando com 'no' (case insensitive), e selecionando o restante do texto para subsituir por '0'
  df_prata[coluna] = df_prata[coluna].str.replace('(?i)^yes.*', '1',regex=True)
  df_prata[coluna] = df_prata[coluna].astype(np.int64)

### Passo 3 - Converter colunas categoricas

In [21]:
df_prata['gender'].value_counts()

gender
Male      3555
Female    3488
Name: count, dtype: int64

In [22]:
df_prata['gender'] = df_prata['gender'].astype('category')

In [23]:
df_prata['Contract'].value_counts()

Contract
Month-to-month    3875
Two year          1695
One year          1473
Name: count, dtype: int64

In [24]:
df_prata['Contract'] = df_prata['Contract'].astype('category')

In [25]:
df_prata['PaymentMethod'].value_counts()

PaymentMethod
Electronic check             2365
Mailed check                 1612
Bank transfer (automatic)    1544
Credit card (automatic)      1522
Name: count, dtype: int64

In [26]:
df_prata['PaymentMethod'] = df_prata['PaymentMethod'].astype('category')

In [27]:
df_prata['InternetService'].value_counts()

InternetService
Fiber optic    3096
DSL            2421
No             1526
Name: count, dtype: int64

In [28]:
df_prata['InternetService'] = df_prata['InternetService'].astype('category')

In [29]:
df_prata.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7043 entries, 0 to 7266
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   Churn             7043 non-null   int64
 2   gender            7043 non-null   category
 3   SeniorCitizen     7043 non-null   int64
 4   Partner           7043 non-null   int64
 5   Dependents        7043 non-null   int64
 6   tenure            7043 non-null   int64
 7   PhoneService      7043 non-null   int64
 8   MultipleLines     7043 non-null   int64
 9   InternetService   7043 non-null   category
 10  OnlineSecurity    7043 non-null   int64
 11  OnlineBackup      7043 non-null   int64
 12  DeviceProtection  7043 non-null   int64
 13  TechSupport       7043 non-null   int64
 14  StreamingTV       7043 non-null   int64
 15  StreamingMovies   7043 non-null   int64
 16  Contract          7043 non-null   category
 17  PaperlessBilling  7043 non-null   int64
 18  PaymentMethod     7043 non-null   category
 19  Charges.Monthly   7043 non-null   float64
 20  Charges.Total     7032 non-null   float64
dtypes: category(4), float64(2), int64(14), object(1)
memory usage: 1018.5+ KB

In [30]:
df_prata.head(3)

,customerID,Churn,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,...,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,Charges.Monthly,Charges.Total
0,0002-ORFBO,0,Female,0,1,1,9,1,0,DSL,...,1,0,1,1,0,One year,1,Mailed check,65.6,593.30
1,0003-MKNFE,0,Male,0,0,0,9,1,1,DSL,...,0,0,0,0,1,Month-to-month,0,Mailed check,59.9,542.40
2,0004-TLHLJ,1,Male,0,0,0,4,1,0,Fiber optic,...,0,1,0,0,0,Month-to-month,1,Electronic check,73.9,280.85

In [31]:
df_prata.describe()

,Churn,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,PaperlessBilling,Charges.Monthly,Charges.Total
count,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000,7032.000000
mean,0.265370,0.162147,0.483033,0.299588,32.371149,0.903166,0.421837,0.286668,0.344881,0.343888,0.290217,0.384353,0.387903,0.592219,64.761692,2283.300441
std,0.441561,0.368612,0.499748,0.458110,24.559481,0.295752,0.493888,0.452237,0.475363,0.475038,0.453895,0.486477,0.487307,0.491457,30.090047,2266.771362
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,18.250000,18.800000
25%,0.000000,0.000000,0.000000,0.000000,9.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,35.500000,401.450000
50%,0.000000,0.000000,0.000000,0.000000,29.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,70.350000,1397.475000
75%,1.000000,0.000000,1.000000,1.000000,55.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,89.850000,3794.737500
max,1.000000,1.000000,1.000000,1.000000,72.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,118.750000,8684.800000

### Limpar dados

Remover clientes com Tenure = 0 (meses de contrato)

In [32]:
df_prata.query('tenure == 0')['customerID'].count()

np.int64(11)

In [33]:
df_prata = df_prata.query('tenure > 0')

Verificar registros com Charges.Total = 0 (Gastos Totais)

### Criar coluna de Contas Di√°rias

In [34]:
df_prata.query('`Charges.Total` == 0')

Empty DataFrame
Columns: [customerID, Churn, gender, SeniorCitizen, Partner, Dependents, tenure, PhoneService, MultipleLines, InternetService, OnlineSecurity, OnlineBackup, DeviceProtection, TechSupport, StreamingTV, StreamingMovies, Contract, PaperlessBilling, PaymentMethod, Charges.Monthly, Charges.Total]
Index: []

[0 rows x 21 columns]

In [35]:
df_prata['Contas_Diarias'] = df_prata['Charges.Monthly'].apply(lambda x: x/30).astype(np.float64)

/tmp/ipython-input-35-1585973637.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_prata['Contas_Diarias'] = df_prata['Charges.Monthly'].apply(lambda x: x/30).astype(np.float64)

### Traduzir e renomear colunas de dados

Novo Dicion√°rio de dados

- ID_Cliente (customerID): n√∫mero de identifica√ß√£o √∫nico de cada cliente
- Churn (Churn): se o cliente deixou ou n√£o a empresa
- Genero (gender): g√™nero (masculino e feminino)
- Idoso (SeniorCitizen): informa√ß√£o sobre um cliente ter ou n√£o idade igual ou maior que 65 anos
- Casal (Partner): se o cliente possui ou n√£o um parceiro ou parceira
- Dependentes (Dependents): se o cliente possui ou n√£o dependentes
- Tempo_Contrato (tenure): meses de contrato do cliente
- Servico_Telefone (PhoneService): assinatura de servi√ßo telef√¥nico
- Servico_MultiplasLinhas (MultipleLines): assinatura de mais de uma linha de telefone
- Servico_Internet (InternetService): assinatura de um provedor internet
- Opt_OnlineSecurity (OnlineSecurity): assinatura adicional de seguran√ßa online
- Opt_OnlineBackup (OnlineBackup): assinatura adicional de backup online
- Opt_DeviceProtection (DeviceProtection): assinatura adicional de prote√ß√£o no dispositivo
- Opt_TechSupport (TechSupport): assinatura adicional de suporte t√©cnico, menos tempo de espera
- Opt_StreamingTV (StreamingTV): assinatura de TV a cabo
- Opt_StreamingMovies (StreamingMovies): assinatura de streaming de filmes
- Tipo_Contrato (Contract): tipo de contrato
- FaturaOnline (PaperlessBilling): se o cliente prefere receber online a fatura
- Forma_Pagto (PaymentMethod): forma de pagamento
- Conta_Mensal (Charges.Monthly): total de todos os servi√ßos do cliente por m√™s
- Conta_Diarias (N/A): total de todos os servi√ßos do cliente por m√™s
- Conta_Total (Charges.Total): total gasto pelo cliente

In [36]:
colunas_originais = df_prata.columns
colunas_originais

Index(['customerID', 'Churn', 'gender', 'SeniorCitizen', 'Partner',
       'Dependents', 'tenure', 'PhoneService', 'MultipleLines',
       'InternetService', 'OnlineSecurity', 'OnlineBackup', 'DeviceProtection',
       'TechSupport', 'StreamingTV', 'StreamingMovies', 'Contract',
       'PaperlessBilling', 'PaymentMethod', 'Charges.Monthly', 'Charges.Total',
       'Contas_Diarias'],
      dtype='object')

In [37]:
colunas_traduzidas = ['ID_Cliente', 'Churn', 'Genero', 'Idoso', 'Casal', 'Dependentes', 'Tempo_Contrato', 'Servico_Telefone', 'Servico_MultiplasLinhas', 'Servico_Internet', 'Opt_OnlineSecurity',
                      'Opt_OnlineBackup', 'Opt_DeviceProtection', 'Opt_TechSupport', 'Opt_StreamingTV', 'Opt_StreamingMovies', 'Tipo_Contrato', 'FaturaOnline',
                      'Forma_Pagto', 'Conta_Mensal', 'Conta_Total', 'Conta_Diarias']
df_prata.columns = colunas_traduzidas
df_prata.head(3)

,ID_Cliente,Churn,Genero,Idoso,Casal,Dependentes,Tempo_Contrato,Servico_Telefone,Servico_MultiplasLinhas,Servico_Internet,...,Opt_DeviceProtection,Opt_TechSupport,Opt_StreamingTV,Opt_StreamingMovies,Tipo_Contrato,FaturaOnline,Forma_Pagto,Conta_Mensal,Conta_Total,Conta_Diarias
0,0002-ORFBO,0,Female,0,1,1,9,1,0,DSL,...,0,1,1,0,One year,1,Mailed check,65.6,593.30,2.186667
1,0003-MKNFE,0,Male,0,0,0,9,1,1,DSL,...,0,0,0,1,Month-to-month,0,Mailed check,59.9,542.40,1.996667
2,0004-TLHLJ,1,Male,0,0,0,4,1,0,Fiber optic,...,1,0,0,0,Month-to-month,1,Electronic check,73.9,280.85,2.463333

In [38]:
#Salvando a camada Prata como arquivo Parquet para analise futura
df_prata.to_parquet('data/prata/TelecomX_Data.parquet')

#üìä Carga e an√°lise - Camada Ouro

In [39]:
#Iniciando com o arquivo Parquet salvo na camada prata:
df_ouro = pd.read_parquet('data/prata/TelecomX_Data.parquet')

## An√°lise Descritiva

In [40]:
df_ouro.describe()

,Churn,Idoso,Casal,Dependentes,Tempo_Contrato,Servico_Telefone,Servico_MultiplasLinhas,Opt_OnlineSecurity,Opt_OnlineBackup,Opt_DeviceProtection,Opt_TechSupport,Opt_StreamingTV,Opt_StreamingMovies,FaturaOnline,Conta_Mensal,Conta_Total,Conta_Diarias
count,7032.000000,7032.000000,7032.000000,7032.000000,7032.000000,7032.000000,7032.000000,7032.000000,7032.000000,7032.000000,7032.000000,7032.000000,7032.000000,7032.000000,7032.000000,7032.000000,7032.000000
mean,0.265785,0.162400,0.482509,0.298493,32.421786,0.903299,0.421928,0.286547,0.344852,0.343857,0.290102,0.384386,0.388367,0.592719,64.798208,2283.300441,2.159940
std,0.441782,0.368844,0.499729,0.457629,24.545260,0.295571,0.493902,0.452180,0.475354,0.475028,0.453842,0.486484,0.487414,0.491363,30.085974,2266.771362,1.002866
min,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,18.250000,18.800000,0.608333
25%,0.000000,0.000000,0.000000,0.000000,9.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,35.587500,401.450000,1.186250
50%,0.000000,0.000000,0.000000,0.000000,29.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,70.350000,1397.475000,2.345000
75%,1.000000,0.000000,1.000000,1.000000,55.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,89.862500,3794.737500,2.995417
max,1.000000,1.000000,1.000000,1.000000,72.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,118.750000,8684.800000,3.958333

Uma an√°lise descritiva mais detalhada ser√° realizada no BD Star Schema, que ser√° criado a seguir

## Cria√ß√£o de Base de Dados Star Schema

Vamos carregar os dados em uma camada Ouro e criar uma Base de dados para armazenar os dados em um esquema estrela

In [41]:
import sqlalchemy
from sqlalchemy import create_engine, MetaData, Table, text
engine = create_engine('sqlite:///:memory:')

**Dimens√£o Clientes:**

- Tabela: dim_clientes:
  - ID_Cliente
  - Genero
  - Idoso
  - Casal
  - Dependentes

In [42]:
colunas_cliente = ['ID_Cliente', 'Genero', 'Idoso', 'Casal', 'Dependentes']
df_clientes = df_ouro[colunas_cliente].copy()
df_clientes.to_sql('dim_clientes', engine, index=True)
df_clientes.to_parquet('data/ouro/dim_clientes.parquet')

**Dimens√£o Servi√ßos:**

-Tabela: dim_tipos_servicos

        - ID_Servicos
        - Servico_Telefone
        - Servico_MultiplasLinhas
        - Servico_Internet
        - Opt_OnlineSecurity
        - Opt_OnlineBackup
        - Opt_DeviceProtection
        - Opt_TechSupport
        - Opt_StreamingTV
        - Opt_StreamingMovies

**Fato Servicos:**

-Tabela: fato_servicos_clientes

        - ID_Cliente
        - ID_Servicos

Concatenar as colunas de servi√ßos para analisar as dimens√µes de servi√ßos e permitir estudar futuros pacotes de servi√ßos

In [43]:
colunas_servicos = ['Servico_Telefone', 'Servico_MultiplasLinhas', 'Servico_Internet', 'Opt_OnlineSecurity',
                      'Opt_OnlineBackup', 'Opt_DeviceProtection', 'Opt_TechSupport', 'Opt_StreamingTV', 'Opt_StreamingMovies']
#df_ouro['temp_tipo_servico'] = df_ouro[colunas_servicos].apply(lambda x: '-'.join(x.dropna().astype(str)), axis=1)
#df_ouro['temp_tipo_servico'].value_counts()

In [44]:
df_combinacoes = df_ouro[colunas_servicos].drop_duplicates().reset_index(drop=True)
df_combinacoes['temp_tipo_servico'] = df_combinacoes.apply(lambda x: '-'.join(x.dropna().astype(str)), axis=1)
df_combinacoes['ID_Servicos'] = df_combinacoes.index
df_combinacoes.set_index('ID_Servicos', inplace=True)
df_combinacoes.head()

,Servico_Telefone,Servico_MultiplasLinhas,Servico_Internet,Opt_OnlineSecurity,Opt_OnlineBackup,Opt_DeviceProtection,Opt_TechSupport,Opt_StreamingTV,Opt_StreamingMovies,temp_tipo_servico
ID_Servicos,,,,,,,,,,
0,1,0,DSL,0,1,0,1,1,0,1-0-DSL-0-1-0-1-1-0
1,1,1,DSL,0,0,0,0,0,1,1-1-DSL-0-0-0-0-0-1
2,1,0,Fiber optic,0,0,1,0,0,0,1-0-Fiber optic-0-0-1-0-0-0
3,1,0,Fiber optic,0,1,1,0,1,1,1-0-Fiber optic-0-1-1-0-1-1
4,1,0,Fiber optic,0,0,0,1,1,0,1-0-Fiber optic-0-0-0-1-1-0

In [45]:
print(df_combinacoes.columns)

Index(['Servico_Telefone', 'Servico_MultiplasLinhas', 'Servico_Internet',
       'Opt_OnlineSecurity', 'Opt_OnlineBackup', 'Opt_DeviceProtection',
       'Opt_TechSupport', 'Opt_StreamingTV', 'Opt_StreamingMovies',
       'temp_tipo_servico'],
      dtype='object')

In [46]:
df_servicos = df_ouro[['ID_Cliente']+colunas_servicos ].copy()
df_servicos['temp_tipo_servico'] = df_servicos[colunas_servicos].apply(lambda x: '-'.join(x.dropna().astype(str)), axis=1)
df_servicos.drop(columns=colunas_servicos, inplace=True)
df_servicos = df_servicos.merge(df_combinacoes[['temp_tipo_servico']].assign(ID_servicos=df_combinacoes.index), on='temp_tipo_servico', how='left')
df_servicos.set_index('ID_Cliente', inplace=True)
df_servicos.drop(columns='temp_tipo_servico', inplace=True)
df_combinacoes.drop(columns='temp_tipo_servico', inplace=True)
df_servicos.head()

            ID_servicos
ID_Cliente
0002-ORFBO            0
0003-MKNFE            1
0004-TLHLJ            2
0011-IGKFF            3
0013-EXCHZ            4

In [47]:
df_combinacoes.to_sql('dim_tipos_servicos', engine, index=True)
df_combinacoes.to_parquet('data/ouro/dim_tipos_servicos.parquet')
df_servicos.to_sql('fato_servicos_clientes', engine, index=True)
df_servicos.to_parquet('data/ouro/fato_servicos_clientes.parquet')

**Dimens√£o Contratos:**

- Tabela: dim_contratos
 - ID_Cliente
 - Churn
 - Tempo_Contrato
 - Tipo_Contrato
 - FaturaOnline
 - Forma_Pagto

**Fato Gastos:**

- Tabela: fato_gastos
 - ID_Cliente
 - Conta_Mensal
 - Conta_Total
 - Conta_Diarias

In [48]:
colunas_contratos = ['ID_Cliente', 'Churn', 'Tempo_Contrato', 'Tipo_Contrato','FaturaOnline',
                      'Forma_Pagto']
df_contratos = df_ouro[colunas_contratos].copy()
df_contratos.to_sql('dim_contratos', engine, index=True)
df_contratos.to_parquet('data/ouro/dim_contratos.parquet')

colunas_gastos = ['ID_Cliente', 'Conta_Mensal', 'Conta_Total', 'Conta_Diarias']
df_gastos = df_ouro[colunas_gastos].copy()
df_gastos.to_sql('fato_gastos', engine, index=True)
df_gastos.to_parquet('data/ouro/fato_gastos.parquet')

## Analise dos dados

### An√°lise de Gastos por atributos dos clientes

In [49]:
query = """
  SELECT Genero, Idoso, Casal, Dependentes, count(c.ID_Cliente) as Qde_Clientes,
  sum(Conta_Mensal) as Gasto_Mensal, sum(Conta_Total) as Gasto_Total, sum(Conta_Diarias) as Gasto_Diarias,
  sum(conta_Diarias)/count(c.ID_Cliente) As Media_Gasto_Dia,
  sum(conta_Mensal)/count(c.ID_Cliente) As Media_Gasto_Mes,
  sum(conta_Total)/count(c.ID_Cliente) As Media_Gasto_Total
  FROM dim_clientes as c
  INNER JOIN fato_gastos as g ON c.ID_Cliente = g.ID_Cliente
  GROUP BY c.Genero, c.Idoso, c.Casal, c.Dependentes
  ORDER by Qde_Clientes DESC
"""
with engine.connect() as conn:
    result = conn.execute(text(query))
    conn.commit()
ouro_Gasto_Cliente = pd.DataFrame(result.fetchall(), columns=result.keys())
ouro_Gasto_Cliente.to_parquet('data/ouro/DW_Gasto_Cliente.parquet')
ouro_Gasto_Cliente

,Genero,Idoso,Casal,Dependentes,Qde_Clientes,Gasto_Mensal,Gasto_Total,Gasto_Diarias,Media_Gasto_Dia,Media_Gasto_Mes,Media_Gasto_Total
0,Male,0,0,0,1381,81453.15,2055933.40,2715.105000,1.966043,58.981282,1488.728023
1,Female,0,0,0,1338,82016.35,2073697.30,2733.878333,2.043257,61.297720,1549.848505
2,Female,0,1,1,839,49527.00,2205045.50,1650.900000,1.967700,59.030989,2628.182956
3,Male,0,1,1,818,49851.00,2240010.55,1661.700000,2.031418,60.942543,2738.399205
4,Female,0,1,0,596,41697.30,1883625.50,1389.910000,2.332064,69.961913,3160.445470
5,Male,0,1,0,567,41691.75,1919671.30,1389.725000,2.451014,73.530423,3385.663668
6,Female,1,0,0,317,24840.80,672471.70,828.026667,2.612072,78.362145,2121.361830
7,Male,1,1,0,281,22751.15,917792.15,758.371667,2.698832,80.964947,3266.164235
8,Male,1,0,0,244,18276.35,481001.60,609.211667,2.496769,74.903074,1971.318033
9,Female,1,1,0,209,17798.00,787776.80,593.266667,2.838596,85.157895,3769.266986
10,Male,0,0,1,209,10431.00,291730.55,347.700000,1.663636,49.909091,1395.839952
11,Female,0,0,1,142,7838.60,176903.35,261.286667,1.840047,55.201408,1245.798239
12,Male,1,1,1,44,3731.30,188252.40,124.376667,2.826742,84.802273,4278.463636
13,Female,1,1,1,39,3153.90,146323.50,105.130000,2.695641,80.869231,3751.884615
14,Male,1,0,1,5,325.70,9422.55,10.856667,2.171333,65.140000,1884.510000
15,Female,1,0,1,3,277.65,6510.55,9.255000,3.085000,92.550000,2170.183333

### Analise do Perfil de Clientes por Servicos

In [50]:
query = """
  SELECT Genero, Idoso, Casal, Dependentes, count(c.ID_Cliente) as Qde_Clientes,
  Servico_Telefone, Servico_MultiplasLinhas, Servico_Internet,
  Opt_OnlineSecurity, Opt_OnlineBackup, Opt_DeviceProtection, Opt_TechSupport, Opt_StreamingTV, Opt_StreamingMovies
  FROM dim_clientes as c
  INNER JOIN fato_gastos as g ON c.ID_Cliente = g.ID_Cliente
  INNER JOIN fato_servicos_clientes as s ON c.ID_Cliente = s.ID_Cliente
  INNER JOIN dim_tipos_servicos as ts ON s.ID_Servicos = ts.ID_Servicos
  GROUP BY ts.Servico_Telefone, ts.Servico_MultiplasLinhas, ts.Servico_Internet,
  ts.Opt_OnlineSecurity, ts.Opt_OnlineBackup, ts.Opt_DeviceProtection, ts.Opt_TechSupport,
  ts.Opt_StreamingTV, ts.Opt_StreamingMovies,c.Genero, c.Idoso, c.Casal, c.Dependentes
  ORDER by Qde_Clientes DESC
"""
with engine.connect() as conn:
    result = conn.execute(text(query))
    conn.commit()
ouro_Clientes_Servicos = pd.DataFrame(result.fetchall(), columns=result.keys())
ouro_Clientes_Servicos.to_parquet('data/ouro/DW_Clientes_Servicos.parquet')
ouro_Clientes_Servicos.head()

,Genero,Idoso,Casal,Dependentes,Qde_Clientes,Servico_Telefone,Servico_MultiplasLinhas,Servico_Internet,Opt_OnlineSecurity,Opt_OnlineBackup,Opt_DeviceProtection,Opt_TechSupport,Opt_StreamingTV,Opt_StreamingMovies
0,Male,0,0,0,303,1,0,No,0,0,0,0,0,0
1,Female,0,0,0,251,1,0,No,0,0,0,0,0,0
2,Female,0,1,1,203,1,0,No,0,0,0,0,0,0
3,Male,0,1,1,173,1,0,No,0,0,0,0,0,0
4,Female,0,1,0,73,1,0,No,0,0,0,0,0,0

### An√°lise de Churn e Gastos por atributos dos contratos

In [51]:
query = """
  SELECT count(c.ID_Cliente) as Qde_Clientes, sum(Tempo_Contrato) as Tempo_Contrato_Total,
  sum(Tempo_Contrato)/count(c.ID_Cliente) as Tempo_Contrato_Medio, sum(Churn) as Churn_Total,
  sum(Churn)*100.0/count(c.ID_Cliente) as Perc_Churn,
  -- Servico_Telefone, Servico_MultiplasLinhas, Servico_Internet,
  -- Opt_OnlineSecurity, Opt_OnlineBackup, Opt_DeviceProtection, Opt_TechSupport, Opt_StreamingTV, Opt_StreamingMovies,
  Tipo_Contrato, FaturaOnline, Forma_Pagto,
  sum(Conta_Mensal) as Gasto_Mensal, sum(Conta_Total) as Gasto_Total, sum(Conta_Diarias) as Gasto_Diarias,
  sum(conta_Diarias)/count(c.ID_Cliente) As Media_Gasto_Dia,
  sum(conta_Mensal)/count(c.ID_Cliente) As Media_Gasto_Mes,
  sum(conta_Total)/count(c.ID_Cliente) As Media_Gasto_Total
  FROM dim_contratos as c
  INNER JOIN fato_gastos as g ON c.ID_Cliente = g.ID_Cliente
  GROUP BY c.Tipo_Contrato, c.FaturaOnline, c.Forma_Pagto
  ORDER by Qde_Clientes DESC
"""
with engine.connect() as conn:
    result = conn.execute(text(query))
    conn.commit()
ouro_Gasto_Contratos = pd.DataFrame(result.fetchall(), columns=result.keys())
ouro_Gasto_Contratos.to_parquet('data/ouro/DW_Gasto_Contratos.parquet')
ouro_Gasto_Contratos.head()

,Qde_Clientes,Tempo_Contrato_Total,Tempo_Contrato_Medio,Churn_Total,Perc_Churn,Tipo_Contrato,FaturaOnline,Forma_Pagto,Gasto_Mensal,Gasto_Total,Gasto_Diarias,Media_Gasto_Dia,Media_Gasto_Mes,Media_Gasto_Total
0,1397,26011,18,806,57.695061,Month-to-month,1,Electronic check,108527.30,2188085.90,3617.576667,2.589532,77.685970,1566.274803
1,469,4326,9,118,25.159915,Month-to-month,0,Mailed check,18128.40,203848.30,604.280000,1.288443,38.653305,434.644563
2,453,7236,15,188,41.501104,Month-to-month,0,Electronic check,30203.25,533871.90,1006.775000,2.222461,66.673841,1178.525166
3,424,4642,10,164,38.679245,Month-to-month,1,Mailed check,22994.30,287750.90,766.476667,1.807728,54.231840,678.657783
4,383,10237,26,146,38.120104,Month-to-month,1,Bank transfer (automatic),28682.05,821557.25,956.068333,2.496262,74.887859,2145.058094

### An√°lise de Churn e Gastos por atributos dos servicos

In [52]:
query = """
  SELECT count(c.ID_Cliente) as Qde_Clientes, sum(Tempo_Contrato) as Tempo_Contrato_Total,
  sum(Tempo_Contrato)/count(c.ID_Cliente) as Tempo_Contrato_Medio, sum(Churn) as Churn_Total,
  sum(Churn)*100.0/count(c.ID_Cliente) as Perc_Churn,
  Servico_Telefone, Servico_MultiplasLinhas, Servico_Internet,
  Opt_OnlineSecurity, Opt_OnlineBackup, Opt_DeviceProtection, Opt_TechSupport, Opt_StreamingTV, Opt_StreamingMovies,
  Tipo_Contrato, FaturaOnline, Forma_Pagto,
  sum(Conta_Mensal) as Gasto_Mensal, sum(Conta_Total) as Gasto_Total, sum(Conta_Diarias) as Gasto_Diarias,
  sum(conta_Diarias)/count(c.ID_Cliente) As Media_Gasto_Dia,
  sum(conta_Mensal)/count(c.ID_Cliente) As Media_Gasto_Mes,
  sum(conta_Total)/count(c.ID_Cliente) As Media_Gasto_Total
  FROM dim_contratos as c
  INNER JOIN fato_gastos as g ON c.ID_Cliente = g.ID_Cliente
  INNER JOIN fato_servicos_clientes as s ON c.ID_Cliente = s.ID_Cliente
  INNER JOIN dim_tipos_servicos as ts ON s.ID_Servicos = ts.ID_Servicos
  GROUP BY ts.Servico_Telefone, ts.Servico_MultiplasLinhas, ts.Servico_Internet,
  ts.Opt_OnlineSecurity, ts.Opt_OnlineBackup, ts.Opt_DeviceProtection, ts.Opt_TechSupport, ts.Opt_StreamingTV, ts.Opt_StreamingMovies,
  c.Tempo_Contrato, c.Tipo_Contrato, c.FaturaOnline, c.Forma_Pagto
  ORDER by Qde_Clientes DESC
"""
with engine.connect() as conn:
    result = conn.execute(text(query))
    conn.commit()
ouro_Gasto_Servicos = pd.DataFrame(result.fetchall(), columns=result.keys())
ouro_Gasto_Servicos.to_parquet('data/ouro/DW_Gasto_Servicos.parquet')
ouro_Gasto_Servicos.head()

,Qde_Clientes,Tempo_Contrato_Total,Tempo_Contrato_Medio,Churn_Total,Perc_Churn,Servico_Telefone,Servico_MultiplasLinhas,Servico_Internet,Opt_OnlineSecurity,Opt_OnlineBackup,...,Opt_StreamingMovies,Tipo_Contrato,FaturaOnline,Forma_Pagto,Gasto_Mensal,Gasto_Total,Gasto_Diarias,Media_Gasto_Dia,Media_Gasto_Mes,Media_Gasto_Total
0,77,77,1,28,36.363636,1,0,No,0,0,...,0,Month-to-month,0,Mailed check,1538.80,1538.8,51.293333,0.666147,19.984416,19.984416
1,52,52,1,46,88.461538,1,0,Fiber optic,0,0,...,0,Month-to-month,1,Electronic check,3637.70,3637.7,121.256667,2.331859,69.955769,69.955769
2,36,36,1,17,47.222222,1,0,No,0,0,...,0,Month-to-month,1,Mailed check,716.90,716.9,23.896667,0.663796,19.913889,19.913889
3,24,48,2,3,12.500000,1,0,No,0,0,...,0,Month-to-month,0,Mailed check,479.15,990.2,15.971667,0.665486,19.964583,41.258333
4,21,21,1,19,90.476190,1,1,Fiber optic,0,0,...,0,Month-to-month,1,Electronic check,1570.30,1570.3,52.343333,2.492540,74.776190,74.776190

### An√°lise de Churn por atributos dos clientes

In [53]:
query = """
  SELECT count(c.ID_Cliente) as Qde_Clientes, sum(Tempo_Contrato) as Tempo_Contrato_Total,
  sum(Tempo_Contrato)/count(c.ID_Cliente) as Tempo_Contrato_Medio, sum(Churn) as Churn_Total,
  sum(Churn)*100.0/count(c.ID_Cliente) as Perc_Churn,
  genero, idoso, casal, dependentes
  FROM dim_contratos as cont
  INNER JOIN dim_clientes as c ON cont.ID_Cliente = c.ID_Cliente
  INNER JOIN fato_gastos as g ON c.ID_Cliente = g.ID_Cliente
  GROUP BY cont.Tipo_Contrato, cont.FaturaOnline, cont.Forma_Pagto,
     c.Genero, c.Idoso, c.Casal, c.Dependentes
  ORDER by Churn_Total DESC

"""
with engine.connect() as conn:
    result = conn.execute(text(query))
    conn.commit()
ouro_Churn_Cliente = pd.DataFrame(result.fetchall(), columns=result.keys())
ouro_Churn_Cliente.to_parquet('data/ouro/DW_Churn_Cliente.parquet')
ouro_Churn_Cliente

,Qde_Clientes,Tempo_Contrato_Total,Tempo_Contrato_Medio,Churn_Total,Perc_Churn,Genero,Idoso,Casal,Dependentes
0,296,4022,13,177,59.797297,Male,0,0,0
1,289,3961,13,167,57.785467,Female,0,0,0
2,143,2409,16,93,65.034965,Female,1,0,0
3,108,1826,16,77,71.296296,Male,1,0,0
4,98,2372,24,61,62.244898,Male,0,1,0
...,...,...,...,...,...,...,...,...,...
309,6,238,39,0,0.000000,Male,0,0,1
310,9,533,59,0,0.000000,Male,0,1,0
311,21,1168,55,0,0.000000,Male,0,1,1
312,1,71,71,0,0.000000,Male,1,0,0
313,1,72,72,0,0.000000,Male,1,1,0

### An√°lise de Evas√£o por atributos dos clientes

In [54]:
query = """
  SELECT Churn as Evasao, count(c.ID_Cliente) as Qde_Clientes, sum(Tempo_Contrato) as Tempo_Contrato_Total,
  sum(Tempo_Contrato)/count(c.ID_Cliente) as Tempo_Contrato_Medio,
  genero, idoso, casal, dependentes
  FROM dim_contratos as cont
  INNER JOIN dim_clientes as c ON cont.ID_Cliente = c.ID_Cliente
  --INNER JOIN fato_gastos as g ON c.ID_Cliente = g.ID_Cliente
  GROUP BY Churn,
  -- cont.Tipo_Contrato, cont.FaturaOnline, cont.Forma_Pagto,
     c.Genero, c.Idoso, c.Casal, c.Dependentes
  ORDER by Qde_Clientes DESC
"""
with engine.connect() as conn:
    result = conn.execute(text(query))
    conn.commit()

ouro_Evasao_Cliente = pd.DataFrame(result.fetchall(), columns=result.keys())
ouro_Evasao_Cliente.to_parquet('data/ouro/DW_Evasao_Cliente.parquet')
ouro_Evasao_Cliente

,Evasao,Qde_Clientes,Tempo_Contrato_Total,Tempo_Contrato_Medio,Genero,Idoso,Casal,Dependentes
0,0,963,26169,27,Male,0,0,0
1,0,909,25631,28,Female,0,0,0
2,0,715,31443,43,Female,0,1,1
3,0,713,31531,44,Male,0,1,1
4,0,482,22881,47,Female,0,1,0
5,0,439,21267,48,Male,0,1,0
6,1,429,5093,11,Female,0,0,0
7,1,418,5445,13,Male,0,0,0
8,0,176,8039,45,Male,1,1,0
9,0,166,4745,28,Male,0,0,1
10,0,159,5463,34,Female,1,0,0
11,1,158,2428,15,Female,1,0,0
12,0,136,6819,50,Female,1,1,0
13,1,128,3667,28,Male,0,1,0
14,0,126,4343,34,Male,1,0,0
15,1,124,2827,22,Female,0,1,1
16,1,118,1863,15,Male,1,0,0
17,1,114,2935,25,Female,0,1,0
18,0,110,2708,24,Female,0,0,1
19,1,105,2643,25,Male,0,1,1
20,1,105,2961,28,Male,1,1,0
21,1,73,2029,27,Female,1,1,0
22,1,43,559,13,Male,0,0,1
23,0,32,1679,52,Male,1,1,1
24,1,32,422,13,Female,0,0,1
25,0,31,1494,48,Female,1,1,1
26,1,12,497,41,Male,1,1,1
27,1,8,232,29,Female,1,1,1
28,0,4,112,28,Male,1,0,1
29,0,2,63,31,Female,1,0,1
30,1,1,1,1,Female,1,0,1
31,1,1,1,1,Male,1,0,1

### An√°lise de Churn por atributos dos contratos

In [59]:
query = """
  SELECT Churn as Evasao, count(c.ID_Cliente) as Qde_Clientes, sum(Tempo_Contrato) as Tempo_Contrato_Total,
  sum(Tempo_Contrato)/count(c.ID_Cliente) as Tempo_Contrato_Medio,
  -- genero, idoso, casal, dependentes
  Tipo_Contrato, FaturaOnline, Forma_Pagto,
  sum(Conta_Mensal) as Gasto_Mensal, sum(Conta_Total) as Gasto_Total, sum(Conta_Diarias) as Gasto_Diarias,
  sum(conta_Diarias)/count(c.ID_Cliente) As Media_Gasto_Dia,
  sum(conta_Mensal)/count(c.ID_Cliente) As Media_Gasto_Mes,
  sum(conta_Total)/count(c.ID_Cliente) As Media_Gasto_Total
  FROM dim_contratos as c
  -- INNER JOIN dim_clientes as c ON cont.ID_Cliente = c.ID_Cliente
  INNER JOIN fato_gastos as g ON c.ID_Cliente = g.ID_Cliente
  GROUP BY Churn,
  c.Tipo_Contrato, c.FaturaOnline, c.Forma_Pagto
  --   c.Genero, c.Idoso, c.Casal, c.Dependentes
  ORDER by Qde_Clientes DESC

"""
with engine.connect() as conn:
    result = conn.execute(text(query))
    conn.commit()

ouro_Evasao_Contrato = pd.DataFrame(result.fetchall(), columns=result.keys())
ouro_Evasao_Contrato.to_parquet('data/ouro/DW_Evasao_Contrato.parquet')
ouro_Evasao_Contrato

,Evasao,Qde_Clientes,Tempo_Contrato_Total,Tempo_Contrato_Medio,Tipo_Contrato,FaturaOnline,Forma_Pagto,Gasto_Mensal,Gasto_Total,Gasto_Diarias,Media_Gasto_Dia,Media_Gasto_Mes,Media_Gasto_Total
0,1,806,11893,14,Month-to-month,1,Electronic check,64042.20,1029142.05,2134.740000,2.648561,79.456824,1276.851179
1,0,591,14118,23,Month-to-month,1,Electronic check,44485.10,1158943.85,1482.836667,2.509030,75.270897,1960.987902
2,0,351,3751,10,Month-to-month,0,Mailed check,12767.65,170598.85,425.588333,1.212502,36.375071,486.036610
3,0,298,17132,57,Two year,0,Credit card (automatic),16045.05,982085.20,534.835000,1.794748,53.842450,3295.587919
4,0,273,17223,63,Two year,1,Bank transfer (automatic),20378.40,1330465.90,679.280000,2.488205,74.646154,4873.501465
5,0,270,16317,60,Two year,0,Bank transfer (automatic),14362.20,895154.65,478.740000,1.773111,53.193333,3315.387593
6,0,269,16815,62,Two year,1,Credit card (automatic),20261.35,1303701.85,675.378333,2.510700,75.321004,4846.475279
7,0,265,5069,19,Month-to-month,0,Electronic check,16929.85,355075.75,564.328333,2.129541,63.886226,1339.908491
8,0,265,10945,41,Two year,0,Mailed check,9283.80,424842.20,309.460000,1.167774,35.033208,1603.178113
9,0,260,3528,13,Month-to-month,1,Mailed check,13310.65,210811.70,443.688333,1.706494,51.194808,810.814231
10,0,249,7062,28,Month-to-month,1,Credit card (automatic),17368.05,539444.05,578.935000,2.325040,69.751205,2166.441968
11,0,237,7242,30,Month-to-month,1,Bank transfer (automatic),16910.55,564422.35,563.685000,2.378418,71.352532,2381.528903
12,0,204,5472,26,One year,0,Mailed check,7380.15,229471.20,246.005000,1.205907,36.177206,1124.858824
13,0,196,9564,48,One year,1,Credit card (automatic),14722.90,759452.50,490.763333,2.503895,75.116837,3874.757653
14,0,193,9437,48,One year,1,Bank transfer (automatic),14382.85,732542.85,479.428333,2.484085,74.522539,3795.558808
15,1,188,2167,11,Month-to-month,0,Electronic check,13273.40,178796.15,442.446667,2.353440,70.603191,951.043351
16,0,183,8922,48,One year,1,Electronic check,15168.45,770512.55,505.615000,2.762923,82.887705,4210.451093
17,1,164,1114,6,Month-to-month,1,Mailed check,9683.65,76939.20,322.788333,1.968222,59.046646,469.141463
18,0,161,6540,40,One year,0,Credit card (automatic),8785.45,392908.25,292.848333,1.818934,54.568012,2440.423913
19,0,160,6838,42,One year,0,Bank transfer (automatic),8876.30,409441.40,295.876667,1.849229,55.476875,2559.008750
20,0,151,3566,23,Month-to-month,0,Bank transfer (automatic),8628.80,230641.00,287.626667,1.904812,57.144371,1527.423841
21,1,146,2995,20,Month-to-month,1,Bank transfer (automatic),11771.50,257134.90,392.383333,2.687557,80.626712,1761.197945
22,1,133,2771,20,Month-to-month,1,Credit card (automatic),10439.10,235155.45,347.970000,2.616316,78.489474,1768.086090
23,1,118,575,4,Month-to-month,0,Mailed check,5360.75,33249.45,178.691667,1.514336,45.430085,281.775000
24,0,116,2358,20,Month-to-month,0,Credit card (automatic),6046.40,148741.70,201.546667,1.737471,52.124138,1282.256034
25,0,109,3691,33,One year,1,Mailed check,5911.55,221100.30,197.051667,1.807813,54.234404,2028.443119
26,0,107,5322,49,Two year,1,Mailed check,5051.80,270089.00,168.393333,1.573769,47.213084,2524.196262
27,0,101,6348,62,Two year,1,Electronic check,9197.00,589729.45,306.566667,3.035314,91.059406,5838.905446
28,0,100,4004,40,One year,0,Electronic check,6450.80,276633.25,215.026667,2.150267,64.508000,2766.332500
29,1,55,866,15,Month-to-month,0,Bank transfer (automatic),3380.45,59510.05,112.681667,2.048758,61.462727,1082.000909
30,0,54,3123,57,Two year,0,Electronic check,3825.05,226432.00,127.501667,2.361142,70.834259,4193.185185
31,1,50,2330,46,One year,1,Electronic check,4581.00,221425.70,152.700000,3.054000,91.620000,4428.514000
32,1,45,817,18,Month-to-month,0,Credit card (automatic),2896.05,57255.00,96.535000,2.145222,64.356667,1272.333333
33,1,28,1387,49,One year,1,Credit card (automatic),2504.40,129124.30,83.480000,2.981429,89.442857,4611.582143
34,1,27,1364,50,One year,1,Bank transfer (automatic),2444.15,128448.55,81.471667,3.017469,90.524074,4757.353704
35,1,14,768,54,One year,0,Electronic check,1245.80,68514.20,41.526667,2.966190,88.985714,4893.871429
36,1,13,609,46,One year,0,Credit card (automatic),1040.25,54703.10,34.675000,2.667308,80.019231,4207.930769
37,1,13,383,29,One year,1,Mailed check,915.60,29056.65,30.520000,2.347692,70.430769,2235.126923
38,1,13,837,64,Two year,1,Bank transfer (automatic),1324.90,84980.00,44.163333,3.397179,101.915385,6536.923077
39,1,11,354,32,One year,0,Bank transfer (automatic),683.00,24952.80,22.766667,2.069697,62.090909,2268.436364
40,1,11,661,60,Two year,1,Electronic check,1049.15,63035.55,34.971667,3.179242,95.377273,5730.504545
41,1,10,269,26,One year,0,Mailed check,704.25,18765.90,23.475000,2.347500,70.425000,1876.590000
42,1,7,455,65,Two year,1,Credit card (automatic),634.35,41762.80,21.145000,3.020714,90.621429,5966.114286
43,1,6,367,61,Two year,0,Bank transfer (automatic),487.90,30585.45,16.263333,2.710556,81.316667,5097.575000
44,1,6,346,57,Two year,0,Credit card (automatic),432.45,27259.15,14.415000,2.402500,72.075000,4543.191667
45,1,2,135,67,Two year,0,Electronic check,97.20,6662.75,3.240000,1.620000,48.600000,3331.375000
46,1,2,81,40,Two year,1,Mailed check,120.00,5368.15,4.000000,2.000000,60.000000,2684.075000
47,1,1,59,59,Two year,0,Mailed check,19.35,1099.60,0.645000,0.645000,19.350000,1099.600000

In [ ]:
colunas_traduzidas = ['ID_Cliente', 'Churn', 'Genero', 'Idoso', 'Casal', 'Dependentes', 'Tempo_Contrato', 'Servico_Telefone', 'Servico_MultiplasLinhas', 'Servico_Internet', 'Opt_OnlineSecurity',
                      'Opt_OnlineBackup', 'Opt_DeviceProtection', 'Opt_TechSupport', 'Opt_StreamingTV', 'Opt_StreamingMovies', 'Tipo_Contrato', 'FaturaOnline',
                      'Forma_Pagto', 'Conta_Mensal', 'Conta_Total', 'Conta_Diarias']

In [ ]:
inspector = inspect(engine)
inspector.get_table_names()

#üìÑRelatorio Final